# Предобработка

In [362]:
answers = {} # создадим словарь для ответов
import numpy as np
import itertools as it
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
data_13 = data[['director', 'revenue']].copy()
data_15 = data[['release_year', 'revenue', 'cast']].copy()
data_16 = data[['budget','cast']].copy()
data_22 = data[['imdb_id', 'release_date']].copy().set_index('imdb_id')
data_23 = data[['imdb_id', 'release_date', 'director']]. \
copy().set_index('imdb_id')
data_24 = data.copy()
data_25 = data.copy()
data_27 = data.copy()

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [363]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'# "+"

In [364]:
# Находим максимальное значение в столбце "Бюджет"
data[data['budget']==data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [365]:
# Можно было отсортировать по столбцу "Бюджет" с помощью "sort_values"
# и выбрать максимальное значение
# Преобразовать в целочисленный тип
data['budget'] = data['budget'].astype('int')
# Сортировка по убыванию на примере 5 результатов запроса
data.sort_values(by='budget', ascending=False).head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,6.8,2007,661000000
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015,1125035767
1014,tt0401729,260000000,284139100,John Carter,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,Andrew Stanton,Lost in Our World. Found in Another.,Civil War vet John Carter is transplanted to M...,132,Action|Adventure|Fantasy|Science Fiction,Walt Disney Pictures,3/7/2012,6.0,2012,24139100
380,tt0398286,260000000,591794936,Tangled,Zachary Levi|Mandy Moore|Donna Murphy|Ron Perl...,Nathan Greno|Byron Howard,They're taking adventure to new lengths.,When the kingdom's most wanted-and most charmi...,100,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/24/2010,7.3,2010,331794936

# 2. Какой из фильмов самый длительный (в минутах)?

In [366]:
answers['2'] = '2. Gods and Generals (tt0279111)'# "+"

In [367]:
# Находим максимальное значение в столбце "runtime"
data[data['runtime']==data['runtime'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064



# 3. Какой из фильмов самый короткий (в минутах)?

In [368]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'# "+"

In [369]:
# Находим минимальное значение в столбце "runtime"
data[data['runtime']==data['runtime'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [370]:
answers['4'] = '2. 110'# "+"

In [371]:
# Выводим значение "mean" средней длительности фильма и округляем
# до целого числа "round"
print (round(data['runtime'].mean()))

110

# 5. Каково медианное значение длительности фильмов?

In [372]:
answers['5'] = '1. 107'# "+"

In [373]:
# Узнаем основные статистические характеристики данных
# с помощью данной команды можно было узнать ответы на вопросы со 2 по 5 
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [374]:
answers['6'] = '5. Avatar (tt0499549)'# "+"

In [375]:
# Находим максимальное  значение в столбце "прибыль" ("profit")
data[data['profit']==data['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [376]:
answers['7'] = '5. The Lone Ranger (tt1210819)'# "+"

In [377]:
# Находим минимальное значение в столбце "прибыль" ("profit")
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [378]:
answers['8'] = '1. 1478'# "+"

In [379]:
# Считаем количество фильмов (count) при условии, когда сборы больше бюджета
data[data['revenue']>data['budget']].imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [380]:
answers['9'] = '4. The Dark Knight'# "+"

In [381]:
# В условии задаем 2008 год и сортируем по убыванию сборов (для 3 основных)
data.loc[data.release_year==2008]. \
sort_values(by='revenue',ascending=False).head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008,601636033
606,tt0441773,130000000,631744560,Kung Fu Panda,Jack Black|Dustin Hoffman|Angelina Jolie|Jacki...,Mark Osborne|John Stevenson,Prepare for awesomeness.,"When the Valley of Peace is threatened, lazy P...",90,Animation|Family,DreamWorks Animation,6/4/2008,6.8,2008,501744560

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [382]:
answers['10'] = '5. The Lone Ranger (tt1210819)'# "+"

In [383]:
# Задаем множественные условия выбора и выводим по столбцу "profit" самый убыточный
data[(data.release_year>=2012) & (data.release_year <= 2014) & \
     (data.profit == data.profit.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [384]:
answers['11'] = '3. Drama'# "+"

In [385]:
# Разделяем и разбиваем жанры,сортируем первые 5 значений по убыванию
data.genres.str.split('|').explode().value_counts().head(5)

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [386]:
answers['12'] = '1. Drama'# "+"

In [387]:
# Разделяем и разбиваем жанры(при прибыльности),сортируем первые 5 значений
data[data['profit']>0].genres.str.split('|').explode().value_counts().head(5)

Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [388]:
answers['13'] = '5. Peter Jackson'# "+"

In [389]:
# Работаем с разделителем режиссеров
data_13.director = data_13.director.str.split('|')
# Разбиваем режиссеров
data_13 = data_13.explode('director')
# Группируем на основании суммарных сборов по режиссерам
print(pd.pivot_table(data_13, values='revenue', \
                     index='director', \
                     aggfunc='sum').nlargest(5, 'revenue'))

                      revenue
director
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [390]:
answers['14'] = '3. Robert Rodriguez'# "+"

In [391]:
# Разбиваем и разделяем с учетом условия "жанр"
data[data.genres.str.contains('Action')]. \
director.str.split('|').explode('director').mode()[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [392]:
answers['15'] = '3. Chris Hemsworthz'# "+"

In [393]:
# Работаем по 2012 году
data_15 = data_15.loc[data_15.release_year == 2012]
# Разделяем актеров по разделителю
data_15.cast = data_15.cast.str.split('|')
# Разбиваем актеров
data_15 = data_15.explode('cast')
# Выводим сводную таблицу (одну строку)
print(pd.pivot_table(data_15, \
                     values='revenue', index='cast', \
                     aggfunc='sum').nlargest(1, 'revenue'))

                    revenue
cast
Chris Hemsworth  2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [394]:
answers['16'] = '3. Matt Damon'# "+"

In [395]:
# Создаем условия, когда бюджет больше среднего значения
data_16 = data_16.loc[data_16.budget > data_16.budget.mean()]
# Разделяем актеров по разделителю
data_16.cast = data_16.cast.str.split('|')
# Разбиваем актеров
data_16 = data_16.explode('cast')
# Выводим сводную таблицу (одну строку)
print(pd.pivot_table(data_16, values='budget', \
                     index='cast', aggfunc='count'). \
      nlargest(1, 'budget'))

            budget
cast
Matt Damon      18

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [396]:
answers['17'] = '2. Action'# "+"

In [397]:
# Задаем условие, чтобы встречался "Nicolas Cage"
# Разделяем и разбиваем, считаем количество
data[data.cast.str.contains('Nicolas Cage')]. \
genres.str.split('|').explode('genres').value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
War                 1
Horror              1
Romance             1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [398]:
answers['18'] = '1. K-19: The Widowmaker'# "+"

In [399]:
# Создаем условие, когда встречается Paramount Pictures
# Сортируем и формируем одну первую строку
data[data['production_companies'].str.contains \
     ('Paramount Pictures',na=False)].sort_values \
(by='profit').head(1)['original_title'].values[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [400]:
answers['19'] = '5. 2015'# "+"

In [401]:
data.groupby(by='release_year') \
['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [402]:
answers['20'] = '1. 2014'# "+"

In [403]:
# Выбираем студию где встречается Warner Bros
# Группируем по году и прибыли, сортируем по убыванию
data[data.production_companies.str.contains('Warner Bros')]. \
groupby(by='release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [404]:
answers['21'] = '4. 9'# "+"

In [405]:
# Меняем формат записи времени в столбце 
data.release_date = pd.to_datetime(data.release_date)
# Создаем столбец
data['release_month'] = data.release_date.dt.month
# Группируем и считаем количество фильмов по каждому месяцу
# Сортируем по убыванию
data.groupby(by='release_month')['imdb_id']. \
count().sort_values(ascending=False)

release_month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [406]:
answers['22'] = '2. 450'# "+"

In [407]:
# Разделяем запись дат 
data_22.release_date = data_22['release_date'].str.split('/', expand=True)
# Переименовываем колонку
data_22.rename(columns={"release_date": "month"}, inplace=True)
# Выбираем значения летних месяцев
data_22 = data_22.loc[data_22['month'].isin(['6', '7', '8'])]
# Считаем количество фильмов по отфильтрованным выше месяцам
data_22.month.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [408]:
answers['23'] = '5. Peter Jackson'# "+"

In [409]:
# Разделяем режиссеров по разделителю 
data_23.director = data_23.director.str.split('|')
# Разбиваем режиссеров
data_23 = data_23.explode('director')
# Разделяем даты по разделителю 
data_23.release_date = data_23['release_date'].str.split('/', expand=True)
# Переименовываем колонки
data_23.rename(columns={'release_date': 'month_count'}, inplace=True)
# Выбираем значения зимних месяцев
data_23 = data_23.loc[data_23['month_count'].isin(['12', '1', '2'])]
# Выводим сводную таблицу (1 строку), считаем количество
print(pd.pivot_table(data_23,values='month_count', \
                     index='director', aggfunc='count'). \
      nlargest(1, 'month_count'))

               month_count
director
Peter Jackson            7

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [410]:
answers['24'] = '5. Four By Two Productions'# "+"

In [411]:
# Создаем новый столбец, где подсчитываем количество символов
data_24['new_title'] = data_24['original_title'].str.len()
# Разделяем студии по разделителю 
data_24.production_companies = data_24.production_companies.str.split('|')
# Разбиваем студии
data_24 = data_24.explode('production_companies')
# Группируем по студиям и количеству символов в названии new_title
# Сортируем по убыванию
data_24.groupby(by='production_companies')\
['new_title'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Name: new_title, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [412]:
answers['25'] = '3. Midnight Picture Show'# "+"

In [413]:
# Создаем новый столбец, где подсчитываем количество символов
data_25['new_overview'] = data_25['overview'].str.split().str.len()
# Разделяем студии по разделителю 
data_25.production_companies = data_25.production_companies.str.split('|')
# Разбиваем студии
data_25 = data_25.explode('production_companies')
# Выводим сводную таблицу (1 строку), считаем среднее количество символов
print(pd.pivot_table(data_25, values='new_overview', \
                     index='production_companies', \
                     aggfunc='mean').nlargest(5, 'new_overview'))

                                  new_overview
production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           159.0
Brookwell-McNamara Entertainment         156.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [414]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'# "+"

In [415]:
# Определяем 99 перцентиль и сравниваем с данным в датасете
# Сортируем полученные в результате значения для 1% лучших по убыванию
data[data.vote_average > data.vote_average.quantile(0.99)]. \
sort_values('vote_average',ascending=False)['original_title']

599                                   The Dark Knight
9                                          Inside Out
34                                               Room
118                                      Interstellar
125                                The Imitation Game
119                           Guardians of the Galaxy
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [416]:
answers['27'] ='5. Daniel Radcliffe, Rupert Grint'# "+"

In [417]:
# Разделяем актеров по разделителю 
data_27['cast'] = data_27.cast.str.split('|')
# С помощью функции определяем все возможные пары актеров
# Разбиваем актеров и считаем количество пар, сортируем
data_27.cast = data_27.cast.apply \
(lambda x: list(it.combinations(sorted(x), 2)))
data_27.explode('cast').cast.value_counts()

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Emma Watson, Rupert Grint)            8
(Helena Bonham Carter, Johnny Depp)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Bruce Bruce, DJ Pooh)                 1
(Anna Kendrick, Chris Evans)           1
(James Earl Jones, Joy Bryant)         1
(Cheryl Hines, Stanley Tucci)          1
(Jim Caviezel, Sophia Myles)           1
Name: cast, Length: 17943, dtype: int64

# Submission

In [418]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworthz',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. 9',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe, Rupert Grint'}

In [419]:
# и убедиться что ни чего не пропустил)
print(len(answers))

27